/* http://outof.me/navigation-drawer-pattern-with-topcoat-css-library/ */
#slide-out {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#slide-out:target {
  /* width: 320px; */
  width: 90%;
  transition: all 0.3s ease;
}

.open-menu {
  display: block;
}

.close-menu {
  display: none;
}

.page-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*
.page-wrap {
  float: right;
  width: 100%;
}
*/

#slide-out:target + .page-wrap {
  /* width: 20%; */
  left: 90%;
}

#slide-out:target + .page-wrap .close-menu {
    display: block;
  }
#slide-out:target + .page-wrap .open-menu {
    display: none;
}

a {
  color: #288edf;
  text-decoration: none;
}
